page-wakeup {
    .bgcolor-content {
        background-color: #F6F6F6;
        .wake-item {
            margin-bottom: 1.4rem;
            .tishi-row {
                .tishi-col {
                    text-align: center;
                    color: #919193;
                }
            }
        }
        .up-item {
            margin-bottom: 1.2rem;
            .colorvalue {
                color: #5BBEFF;
            }
        }
        .send-btn {
            margin: 5% 0 10% 10%; 
            width: 80%;
        }
    }
}
