page-bindcar {
    .carinfo-list {
        margin: -1px 0 10px;
    }
    .device-list {
        
        .device-input {
            color: #488AFF;
            text-align: right;
        }

    }

}
